<h1>Midterm</h1>

In [19]:
import pandas as pd
import matplotlib as plt
from sklearn import datasets
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

In [2]:
#read the file
df_test=pd.read_csv("midterm_test.csv")
df_train=pd.read_csv("midterm_train.csv")

In [3]:
df_test.describe()

C:\Users\Tushar\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x40,x41,x42,x43,x44,x45,x46,x47,x48,x49
count,39993.000000,39995.000000,39990.000000,39993.000000,39994.000000,39989.000000,39991.000000,39987.000000,39994.000000,39986.000000,...,39992.000000,39993.000000,39985.000000,39992.000000,39997.000000,39996.000000,39993.000000,39996.000000,39995.000000,39987.000000
mean,0.001150,0.050029,-1.212748,0.037892,-0.017543,0.054597,-1.764113,-7.559937,0.077270,-0.022996,...,-2.215796,6.527137,-1.840976,0.007109,0.032597,0.003296,-12.681044,-0.023815,0.012795,-0.699512
std,0.370661,6.334603,13.244277,8.075404,6.366575,7.675792,19.256133,30.344781,8.904998,6.360036,...,16.910200,18.715717,5.128600,1.531295,4.137618,0.396432,36.737560,4.813593,1.938144,15.037603
min,-1.637195,-26.366592,-59.438295,-32.896394,-24.074707,-29.832100,-86.418814,-151.668029,-35.584361,-24.917306,...,-65.711291,-70.629012,-24.685394,-6.455841,-16.358976,-1.712737,-199.609887,-19.421488,-7.437804,-58.373259
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.697244,25.619887,51.047183,30.420903,24.241551,34.870000,74.218768,154.990430,40.395457,24.115795,...,75.263599,87.682808,22.140912,6.286530,16.679249,1.663191,131.577516,20.586126,7.781771,63.436061

In [4]:
#clean the data
df_test['x32'] = df_test['x32'].str.replace('%','')
df_test['x37'] = df_test['x37'].str.replace('$','')

In [5]:
def delete__by_values(lst, values):
    values_as_set = set(values)
    return [ x for x in lst if x not in values_as_set ]

col_name=delete__by_values(list(df_test.columns.values),['x24','x29','x30'] )
df_test.x32=df_test.x32.astype(np.float64)
df_test.x37=df_test.x37.astype(np.float64)

for i in col_name:
    df_test[i]=df_test[i].fillna(df_test[i].mean())

In [6]:
#verify the missing value is filled or not
df_test.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x40,x41,x42,x43,x44,x45,x46,x47,x48,x49
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,...,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,0.001150,0.050029,-1.212748,0.037892,-0.017543,0.054597,-1.764113,-7.559937,0.077270,-0.022996,...,-2.215796,6.527137,-1.840976,0.007109,0.032597,0.003296,-12.681044,-0.023815,0.012795,-0.699512
std,0.370628,6.334207,13.242621,8.074698,6.366098,7.674737,19.253966,30.339849,8.904330,6.358923,...,16.908509,18.714079,5.127638,1.531142,4.137463,0.396412,36.734345,4.813352,1.938023,15.035159
min,-1.637195,-26.366592,-59.438295,-32.896394,-24.074707,-29.832100,-86.418814,-151.668029,-35.584361,-24.917306,...,-65.711291,-70.629012,-24.685394,-6.455841,-16.358976,-1.712737,-199.609887,-19.421488,-7.437804,-58.373259
25%,-0.246958,-4.154988,-10.207430,-5.361547,-4.296504,-5.119915,-14.840836,-26.882325,-5.944396,-4.326068,...,-13.707193,-6.047511,-5.169370,-1.016202,-2.723689,-0.264125,-36.322308,-3.241408,-1.307183,-11.050554
50%,0.003580,0.044744,-1.398718,0.037892,-0.035429,0.052811,-2.045340,-6.896945,0.047540,-0.027538,...,-2.547161,6.669239,-1.945811,0.002263,0.035164,0.003837,-12.681810,-0.034747,0.003739,-0.681236
75%,0.250093,4.304233,7.744112,5.411673,4.272164,5.271263,11.259357,12.330131,6.141233,4.277531,...,8.952327,18.994947,1.467961,1.042574,2.840642,0.268797,11.439456,3.219125,1.336426,9.587165
max,1.697244,25.619887,51.047183,30.420903,24.241551,34.870000,74.218768,154.990430,40.395457,24.115795,...,75.263599,87.682808,22.140912,6.286530,16.679249,1.663191,131.577516,20.586126,7.781771,63.436061

In [7]:

def describe_categorical(X):
    """
    Just like .describe(), but returns the results for
    categorical variables only.
    """
    from IPython.display import display, HTML
    display(HTML(X[X.columns[X.dtypes == "object"]].describe().to_html()))
describe_categorical(df_test)

In [8]:
categorical_variables=['x24','x29','x30']
for variable in categorical_variables:
    dummies = pd.get_dummies(df_test[variable], prefix=variable)
    # Update X to include dummies and drop the main variable
    df_test = pd.concat([df_test, dummies], axis=1)
    df_test.drop([variable], axis=1, inplace=True)

In [9]:
df_test.columns

Index([u'x0', u'x1', u'x2', u'x3', u'x4', u'x5', u'x6', u'x7', u'x8', u'x9',
       u'x10', u'x11', u'x12', u'x13', u'x14', u'x15', u'x16', u'x17', u'x18',
       u'x19', u'x20', u'x21', u'x22', u'x23', u'x25', u'x26', u'x27', u'x28',
       u'x31', u'x32', u'x33', u'x34', u'x35', u'x36', u'x37', u'x38', u'x39',
       u'x40', u'x41', u'x42', u'x43', u'x44', u'x45', u'x46', u'x47', u'x48',
       u'x49', u'x24_america', u'x24_asia', u'x24_euorpe', u'x29_Apr',
       u'x29_Aug', u'x29_Dev', u'x29_Feb', u'x29_January', u'x29_July',
       u'x29_Jun', u'x29_Mar', u'x29_May', u'x29_Nov', u'x29_Oct',
       u'x29_sept.', u'x30_friday', u'x30_monday', u'x30_thurday',
       u'x30_tuesday', u'x30_wednesday'],
      dtype='object')

In [10]:
df_test.to_csv('midterm_test_clean.csv')

<h2>Start cleaning train dataset</h2>

In [12]:
df_train['x32'] = df_train['x32'].str.replace('%','')
df_train['x37'] = df_train['x37'].str.replace('$','')

In [13]:
def delete__by_values(lst, values):
    values_as_set = set(values)
    return [ x for x in lst if x not in values_as_set ]

col_name=delete__by_values(list(df_train.columns.values),['x24','x29','x30','y'] )
df_train.x32=df_train.x32.astype(np.float64)
df_train.x37=df_train.x37.astype(np.float64)

for i in col_name:
    df_train[i]=df_train[i].fillna(df_train[i].mean())

In [14]:
describe_categorical(df_train)

In [15]:
categorical_variables=['x24','x29','x30']
for variable in categorical_variables:
    dummies = pd.get_dummies(df_train[variable], prefix=variable)
    # Update X to include dummies and drop the main variable
    df_train = pd.concat([df_train, dummies], axis=1)
    df_train.drop([variable], axis=1, inplace=True)

In [18]:
y=df_train['y']
del df_train['y']

<h2>Random Forest</h2>

In [20]:
model = RandomForestClassifier(n_estimators=100, oob_score=True,n_jobs=-1, random_state=42)
model.fit(df_train, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=True, random_state=42, verbose=0, warm_start=False)

In [21]:
model.oob_score_

0.92005625000000002

In [22]:
df_train.to_csv('midterm_train_clean.csv')

In [23]:
prediction=model.predict(df_test)

In [27]:
print prediction

[0 0 0 ..., 0 0 0]

In [38]:
frame=pd.DataFrame()
frame['Id']=range(0,len(prediction))
frame['y']=prediction
#frame.pop(0)
#print frame
frame.to_csv('submission.csv',index=False)